    
* {
    font-family: Verdana, sans-serif;
    background-color: #5cbdb9;
    font-size: 20px;
    font-weight: normal;
}

html {
    padding-top: 0;
    margin-top: 0;
    background-color: #5cbdb9;
}

body  {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #5cbdb9;
}

.parent-div {
    display: flex;
    margin-left: 10%;
    margin: 10%;
    position: absolute;
    min-width: 80%;
    background-color: white;
    flex-direction: column;
    margin-top: 0px;
}

.background-div {
    width: 100%;
    background-color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    background-color: inherit;
    gap: 3rem;
    flex-wrap: wrap;
    flex: auto;
}

ul.recipe-list {
    display: flex;
    flex-direction: row;
}

button.food-btn {
    color: -webkit-link;
    font-family: Verdana, sans-serif;
    background-color: #ebf6f5;  
    border: 2px solid #c8f1ef;
    padding-left: 3%;
    padding-right: 3%;
    min-width: 360px;
    min-height: 50px;
    box-shadow: 1px 1px 2px #444;
    }

button.food-btn:hover {
    cursor: pointer;
    border: 2px solid #c8f1ef;
    padding-left: 3%;
    padding-right: 3%;
    min-width: 360px;
    background-color: #c8f1ef;
    box-shadow: 0px 0px 0px #444;
  }

  .content-div {
    background-color: inherit;
    padding: 3%;
    min-height: 75%;
  }

  .recipe-list .food-container {
    display: flex;
    flex-direction: column;
    background-color: inherit;
  }

  .food-container {
    max-height: 400px;
  }

  .food-img{
    height: 360px;
    width: 360px;
    box-shadow: 1px 1px 1px #444;
    object-fit: cover;
  }
  
  a.img-a {
    margin-bottom: 8px;
    padding: 0;
    height: 360px;
  }

  .food-img:hover{
    height: 360px;
    width: 360px;
    box-shadow: 0px 0px 0px #444;
  }

  .headline-container {
    display: flex;
    border-bottom: 2px solid #5cbdb9;
    align-items: center;
    padding: 8px;
    background-color: #dce9e8;
    flex-wrap: wrap;
    justify-content: center;
  }

.recipe-headline {
    color: #5cbdb9;
    background-color: #dce9e8;
    font-size: 68px;
    text-align: center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
}


.odin-div {
    height: 100%;
    background-color: #dce9e8;
}

.odin-png {
    width: 80px;
    height: 80px;
    background-color: #dce9e8;
}

a.odin-logo {
    background-color: #dce9e8;
}

.headline-div {
    margin-left: auto;
    margin-right:auto;
}

.adjusting-div {
    width: 80px;
}

.footer {
    display: flex;
    margin: auto;
    min-height: 80px;
    background-color: #dce9e8;
    border-top: 2px solid #5cbdb9;
    justify-content: center;
}

.newbie {
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.newbie-href{
    text-decoration: none;
    color: -webkit-link;
}

button.newbie-btn {
    color: -webkit-link;
    font-family: Verdana, sans-serif;
    background-color: #c8f1ef;  
    border: 2px solid #5cbdb9;
    box-shadow: 6px #d4faf8;
    padding-left: 3%;
    padding-right: 3%;
    min-width: 180px;
    min-height: 40px;
}

.newbie-btn:hover {
    cursor: pointer;
    border: 2px solid #c8f1ef;
    padding-left: 3%;
    padding-right: 3%;
    min-width: 180px;
    background-color: #c8f1ef;
  }

a.newbie-href{
    background-color: #c8f1ef;
    display: flex;
    justify-content: center; 
}